<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
		{% if title %}
			<title>GDP 2012 - Equine Health Monitor: {{title}}</title>
		{% else %}
			<title>GDP 2012 - Equine Health Monitor</title>
		{% endif %}
	</head>
	<body>
		<div id="Container">
		<section id="Header">
		<!--start logo-->
		<h1><a href="/" class="logo">EquineHealthMonitor.</a></h1>
		<!--end logo-->
		<ul class="navigation">
			{% for item in menu %}
			<li><a href="{{ item.href }}">{{ item.caption }}</a>
			{% if item.submenu %}
				<ul>
				{% for sub_item in item.submenu %}
				<li><a href="{{ sub_item.href }}">{{ sub_item.caption }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
			</li>
			{% endfor %}
		</ul> 
		<!-- end navigation-->
		</section>
		<section id="Content">
		{% block content %} {% endblock %}
		</section>
		<!--end content-->
		</div>
		<!--end container-->
		<footer>
			<div id="FooterOne"> © GDP EMECS 2012</div>
		</footer>
		
	</body>
</html>
