{% extends "base.html" %}
{% block content %}
{% if horse_id %}
<!-- Submenu for sensor Types -->
<section id="Submenu">
	<ul class="navigation navigation_sensor">
		{% for item in sensor_menu %}
		<li><a href="{{ item.href }}">{{ item.caption }}</a>
		{% endfor %}
	</ul>
</section>
<section id="Intro">
	<hgroup>
	<h3>Displaying data for <b>{{ horse_id }}</b></h3>
	<h2>The following tables show all the data that has been collected so far
	for the node {{horse_id}}. Each sensor has it's own table and the data is
	sorted by the time the measurement was taken, showing the most recent value first</h2>
	</hgroup>
</section>

<!-- Table contents -->
<section class="holder_content">
<!-- display a static google map if gps sensor data was reqested-->
{% if google_gps_url %}
<img src={{google_gps_url}} class="center">
{% endif %}

{% for table in tables %}
<h3>Data for {{table[0]}} of {{horse_id}}</h3>
<table class="tabelle" id="scrollTabelle" cellpadding="0" cellspacing="0">
	<thead>
	<tr>
		{% for row_key in table[1] %}
		<th>{{row_key}}</th>
		{% endfor %}
	</tr>
	</thead>
	<tbody>
	{% for row in table[2] %}
	<tr>
		{% for row_key in row %}
		<td>{{row[row_key]}}</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endfor %}
</section>
<!-- end Table contents -->
{% else %}
<section id="Intro">
<hgroup>
<h3>Welcome to the online data viewer of the Equine Health Monitor System</h3>
<h2>Please select a node from the dropdown menu</h2>
</hgroup>
</section>
{% endif %}
{% endblock %}


 



