{% extends "base.html" %}
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
<!-- fallback for jquery.js -->
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>
<script type="text/javascript">
		jQuery(document).ready(function() {
			$("a").click(function(event){
				alert("Thanks for visiting!");
			});
		});
 	</script>
 
{% if horse_id %}
<hgroup>
<h3>Data for: {{ horse_id }}</h3>
<h2>The following tables show all the data that has been collected so far
for the horse {{horse_id}}. Each sensor has it's own table and the data is
sorted by the time the measurement was taken, showing the most recent value first</h2>
</hgroup>
{% for table in tables %}
<h3>Table: {{table[0]}}</h3>
<table class="tabelle" id="scrollTabelle" cellpadding="0" cellspacing="0">
	<thead>
	<tr>
		{% for row_key in table[1] %}
		<th>{{row_key}}</th>
		{% endfor %}
	</tr>
	</thead>
	<tbody>
	{% for row in table[2] %}
	<tr>
		{% for row_key in row %}
		<td>{{row[row_key]}}</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endfor %}
{% else %}
Please select a horse from the dropdown menu
{% endif %}
{% endblock %}


 



